.container,
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    position: absolute;
    border: none;
    outline: 0;
    background-color: transparent;
    bottom: 25%;
}

.fieldMessage {
    height: 150px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    overflow-y: scroll;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
}